.header{
    background-color: #fca501;
    height: 5rem;
    display: flex;
    align-items: center;
    

}

.name{
    font-family: 'Montserrat', sans-serif;
    margin-left:5rem;
    font-weight: 700;
    letter-spacing: 3px;
}