.image {
    height: 100%;
    width: 44%;

}

.main-container1{
    width: 56%;
    margin:17rem 0rem 0rem 0rem;
    display: flex;
    justify-content: center;
}

.main-container3{
    display: flex;
    margin-top: 0.8rem;
    font-family: 'Montserrat', sans-serif;
}
.main{
    display: flex;
    height: 56.6rem;
    
}

.image img{
    width: 100%;
}

.bttn-explore{
    background-color: #fca501;
    border: 0;
    border-radius: 15px;
    width: 6rem;
    height: 2rem;
    color: white;
    font-weight: 600;

}

.bttn-add{
    border-color: #fca501;
    background-color: white;
    border-radius: 15px;
    width: 10rem;
    height: 2rem;
    color: #fca501;
    font-weight: 600;
    margin: 0rem 0rem 0rem 1rem;
}

.desc-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3.2rem;

}

.description{
    width: 27rem;
    height: 13rem;
    
}

.main-container2{
    margin-top: 1rem;
}

.desc-comment{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.main-or{
    text-transform: uppercase;
    color: orange;
    margin-left: 1rem;
    font-size: 1.1rem;
    font-weight: 600;

}

.bttn-addrestaurant{
    font-weight: 600;
    margin-left: 5rem;
    letter-spacing: 1.2px;
}

.bttn-addrestaurant:hover{
    color: gray;
}
