.sr-img img{
    width: 100%;
    height: 100%;
}

.sr-img{
    height: 14rem;
    width: 20.5rem;
}

.singlerecipe{
    width: 100%;
    
}

.sr-category{
    text-transform: uppercase;
    font-size: 0.9rem;
    color: gray;
}

.sr-name{
    width: 17rem;
    height: 2.7rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 1.1rem;

}

a{
    text-decoration: none;
    color: black;
}