.sres-img img{
    width: 100%;
    height: 100%;
}

.sres-img{
    height: 14rem;
    width: 20.5rem;
}

.singlerestaurant{
    width: 100%;
    transition: transform 0.3s;
    
}

.sres-workingTime{
    text-transform: uppercase;
    font-size: 0.9rem;
    color: gray;
    margin-top: 0.5rem;
}

.sres-name{
    width: 17rem;
    height: 2.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;

}
.sres-container {
    display: flex;
  }
  
.sres-cuisines{
  height: 2.6rem;
}
 
  
  .singlerestaurant:hover {
    transform: scale(1.1); /* Adjust the scale factor as needed */
    background-color: #cfe6dc;
  }
  
  .sres-container2{
    display: none;
  }
  .sres-container2.visible{
    display: block;
    position: absolute;
    background-color: #cfe6dc;
    width: 19rem;
    height: 5.5rem;
  }

  .sres-container3{
    display: flex;
    margin-top: 0.5rem;

  }

  .sres-likes{
    display: flex;

  }

  .heart-icon{
    margin: 0.2rem;
    display: flex;
  }